<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof title === "undefined" ? "Shable" : title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
    <link rel='stylesheet' href='/stylesheets/<%= typeof stylesheet === "undefined" ? "app" : stylesheet %>.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        Parse.FacebookUtils.init({
          appId      : '348462455320778',
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Shable</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="/"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href='/recherche'>Recherche</a></li>
        <li><a href='/planifier'>Planifier</a></li>
        <li><a href='#4'>Rejoindre</a></li>
        <li><a href='#5'>Message</a></li>
        <li><a href='#6'>Profil</a></li>
        <li><a href='#7'>Paramètre</a></li>
      </ul>
    </section>
  </nav>